# === Core ML ===
catboost==1.2.8
scikit-learn==1.5.2
numpy==1.26.4
pandas==2.3.3
scipy==1.15.3
joblib==1.5.3
threadpoolctl==3.6.0

# === MLflow ===
mlflow==2.7.1
cloudpickle==2.2.1
alembic<1.18
Mako==1.3.10
databricks-cli==0.18.0
docker==6.1.3
gitdb==4.0.12
GitPython==3.1.46
greenlet==3.3.1
gunicorn==21.2.0
importlib-metadata==6.11.0
Markdown==3.10.1
oauthlib==3.3.1
protobuf==4.25.8
pyarrow==13.0.0
PyJWT==2.10.1
querystring-parser==1.2.4
SQLAlchemy==2.0.46
sqlparse==0.5.5
tabulate==0.9.0
entrypoints==0.4
packaging==23.2
Jinja2==3.1.6
MarkupSafe==3.0.3
Werkzeug==3.1.5

# === AWS (S3 model loading) ===
boto3==1.34.78
botocore==1.34.162
s3transfer==0.10.4
jmespath==1.1.0

# === FastAPI ===
fastapi==0.128.0
uvicorn==0.40.0
starlette==0.50.0
pydantic==2.12.5
pydantic_core==2.41.5
python-multipart
h11==0.16.0
httptools==0.7.1
uvloop==0.22.1
websockets==16.0
watchfiles==1.1.1
anyio==4.12.1
click<8.2
typing-inspection==0.4.2
typing_extensions==4.15.0
annotated-types==0.7.0
narwhals==2.15.0

# === Monitoring ===
prometheus-fastapi-instrumentator

# === Database ===
psycopg==3.1.12
psycopg-binary==3.1.12
psycopg-pool==3.3.0
psycopg2-binary==2.9.11

# === Utility ===
requests==2.32.5
certifi==2026.1.4
charset-normalizer==3.4.4
idna==3.11
urllib3==2.6.3
python-dotenv==1.2.1
python-dateutil==2.9.0.post0
pytz==2023.4
tzdata==2025.3
six==1.17.0
PyYAML==6.0.3
smmap==5.0.2
tomli==2.4.0
zipp==3.23.0